doctype html
html
  head
    title= "Movies and Series"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Movies and Series
    br
    a(href='/movies') Movies
    br
    a(href='/series') Series
    block content
